@use "../../../styles/base" as *;

.tags{
    background: $BLACK_SECONDARY;
    padding: 1rem;
    border-radius: .5rem;
    display:flex;
    gap: .5rem;
    flex-wrap: wrap;
    max-height: 100px;
    overflow-y: scroll;
    margin-top: 1rem;
    
}

.tag{

    color: black;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    background: $GRAY;
    font-size: .8rem;
    
}