@use "../../styles/base" as *;

.flexContainer{
    display: flex;
}

.outlet{
    width: 100%;
    @include for-sm-screen{
        min-height: 100vh;
    }
}

.notificationMsg{
    position: fixed;
    bottom: 2rem;
    left: 2rem;
   @include for-sm-screen{
    bottom: auto;
    left:auto;
    top: 2rem;
    right: 2rem;
   }

}
