@use "../../../styles/base" as *;

.howToUse{
    img[alt="iphone"]  {
        width: 90%;

    }
}

.sectionTitle {
    margin-bottom: 5rem;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-auto-rows: minmax(0px, 1fr);
    gap: 1rem;
    justify-content: center;
    @include for-md-screen{
        grid-template-columns: repeat(1, minmax(200px, 1fr))
    }

}
    

.card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    background-color: $BLACK_SECONDARY;
    border-radius: 12px;
    padding: 3rem;

    h3{
        color: $GREEN;
        font-size: 2rem;
        font-weight: 600;
        font-family: "Inter";
    
    }
}

.iconWrapper{
 border: 1px solid #fff;
 padding: .2rem;
 border-radius: 5px;
}

