@use "../../styles/base" as *;

.comment{
    max-width: 80%;
    align-items: center;
    margin-left: 2rem;
    box-sizing: border-box;
    padding: 1rem;
    border: 1px solid $BLACK_SECONDARY;
    border-top: 0;
    @include for-sm-screen{
        max-width: 100%;
        margin-left: 0;
    }

    .content {
        background-color: $BLACK_SECONDARY;
        border-radius: .5rem;
        padding: 1.5rem;
    }

}