@use "../../styles/base" as *;

.card{
    border: 1px solid $BLACK_SECONDARY;
    max-width: 80%;
    margin-left: 2rem;
    padding: 2rem;
    box-sizing: border-box;

    &.smallScreen{
        max-width: none;
        width: 100%;
        margin-left: 0;
       }
  
    @include for-sm-screen{
        max-width: none;
        width: 100%;
        margin-left: 0;
    }
    
}



.icons {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}
.icon{
    cursor: pointer;
}
.like{
    svg{
      fill:$GREEN 
    }
}

.cardFields{
   display: grid;
   grid-template-columns: auto auto;
   
   &.smallScreen{
    display: block;
   }
   @include for-md-screen{
     
   }
}