@use "../../styles/base" as *;

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204 204 204 / 50%);
   
   
}


.modalContent{
    position: relative;
    background-color: $BLACK_PRIMARY;
    min-width: 500px;
    min-height: 500px;
    border-radius: 5px;
   padding: 1.5rem 0;
    max-height: 80%;
    overflow-y: scroll;
    box-sizing: border-box;
    @include for-sm-screen{
      min-width: initial;
      min-height: 100vh;
      width: 100vw;
      border-radius: 0;
      
    }
}

.modalCloseBtn{
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
}