@use "../../../styles/base" as *;

.input {
    background: $BLACK_SECONDARY;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    width: 100%;
    box-sizing: border-box;
}

.textarea{
    resize: none;
}