@use "../../../styles/base" as *;

.input {
    background: $BLACK_SECONDARY;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    &.error{
        border:  1px solid rgb(255 99 99);
        margin-bottom: 5px;
    }
}

li.error{
    color: rgb(255 99 99);
    font-size: .8rem;
    margin-bottom: 10px;
    text-align: left;
}


.textarea{
    resize: none;
}