@use "../../../styles/base" as *;


.contents{
    li{
        display: flex;
        align-items: center;
        border-bottom: 1px solid $BLACK_SECONDARY ;
        cursor: pointer; 
    }
}

.notfoundText{
    text-align: center;
    margin: 1rem 0;
}

.profile {
    margin-left: 2.5rem;
}