@use "../../../styles/base" as *;


.contents{
    li{
        display: flex;
        align-items: center;
        border-bottom: 1px solid $BLACK_SECONDARY ;
        padding: 1.5rem 0 1rem 3rem;
        cursor: pointer;
       
    }
}